:root {
    --font-primary: 'Lilita One';
    --font-secondary: 'Montserrat Alternates';
    --font-terciary: 'Poppins';
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

button {
    background: none;
    border: none;
    background: #2BABE2;
    color: white;
    font-size: 0.80rem;
    padding: 10px 10px;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

button:hover {
    box-shadow: 0px 0px 10px 10px #2babe26b;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 40px;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(150px);
    z-index: 3;
}

.navbar .row {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.navbar .logo img {
    width: 70%;
    height: 100%;
}

.navbar .navegacion {
    display: flex;
    justify-content: center;
    height: 100%;
    font-weight: bolder;
    font-size: 0.80rem;
    font-family: var(--font-terciary);
}

.navbar .navegacion li {
    display: flex;
    padding: 0px 8px;
    align-items: center;
    height: 100%;
    transition: all 0.2s ease-in-out;
}

.navbar .navegacion li:hover {
    background: #2BABE2;
}

.navbar a {
    color: white;
}

.navbar .social {
    display: flex;
    gap: 10px;
}

/* BANNER */

.banner {
    height: 90vh;
    width: 100%;
    z-index: 2;
}

.banner .container {
    width: 100%;
    height: 100%;
}

.banner .container img,
.banner .container video {
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.banner .overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 90vh;
}

.banner .contenido {
    max-width: 1000px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.banner .intro {
    width: 25%;
}

.banner .intro h1 {
    color: white;
    font-family: var(--font-primary);
    font-weight: lighter;
    font-size: 1.4rem;
    margin: 0;
    margin-bottom: 8px;
}

.banner .intro h2 {
    color: white;
    font-family: var(--font-terciary);
    font-size: 1rem;
    font-weight: lighter;
    margin: 0;
    margin-bottom: 8px;
}

.banner .intro #whatsapp {
    background: limegreen;
    color: white;
    font-size: 0.8rem;
    font-family: var(--font-terciary);
    display: flex;
    gap: 6px;
    align-items: center;
    font-weight: bolder;
}

.banner .carrusel_banner {
    width: 75%;
    overflow: hidden;
    border-radius: 30px;
}

.banner .carrusel_banner swiper-slide {
    cursor: pointer;
    overflow: hidden;
}

.banner .carrusel_banner img {
    position: relative;
}

.banner .carrusel_banner .bloque {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: 0%;
    transition: all 0.2s ease-in-out;
    opacity: 0;
    color: white;
    padding: 20px;
    line-height: 1.2;
}

.banner .bloque #llegar {
    background: #EA0B8B;
}

.banner .bloque h1 {
    font-family: var(--font-primary);
    font-weight: lighter;
    background: #2BABE2;
    padding: 5px 20px;
    width: fit-content;
    border-radius: 10px;
}

.banner .bloque h2 {
    font-family: var(--font-primary);
    font-weight: lighter;
    margin-top: 2px;
    font-size: 1.2rem;
}

.banner .bloque h3 {
    font-family: var(--font-terciary);
    font-size: 0.75rem;
    margin-top: 2px;
}

.banner .carrusel_banner swiper-slide:hover .bloque {
    background: rgba(0, 0, 0, 0.7);
    height: 100%;
    opacity: 1;
}

.banner .intro #logo_vec {
    width: 200px;
    object-fit: contain;
}

/* videos_promocionales */

.videos_promocionales {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)),
        url(https://res.cloudinary.com/dddlebwyr/image/upload/v1702067173/Concierto/VCLNDIA_IMG_3253_n3rnrt.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 0 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.videos_promocionales .container {
    max-width: 1000px;
    width: 100%;
}

.videos_promocionales .videos_carrusel {
    width: 100%;
    height: auto;
}

.videos_promocionales video {
    width: 100%;
    border-radius: 10px;
}

.videos_promocionales h1 {
    color: black;
    font-size: 1.4rem;
    font-family: var(--font-primary);
    font-weight: lighter;
}

/* GALERIA */

.galeria {
    width: 100%;
}

.galeria .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
    /* Tres columnas, ancho mínimo de 300px */
}

.galeria .image {
    position: relative;
    overflow: hidden;
}

.galeria img {
    width: 100%;
    height: auto;
    display: block;
    transition: all 0.3s ease-in-out;
    filter: brightness(80%);
}

.galeria img:hover {
    transform: scale(1.1);
    filter: brightness(100%);
}

/* UBICACION */

.footer {
    display: flex;
    justify-content: center;
}

.footer .container {
    background: #fff;
    width: 100%;
    padding: 35px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.footer .container a {
    color: #3b3b3b;
}

.footer .container .row {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 50px;
}

.footer .container .row img {
    width: 140px;
}

.footer .container .row h1 {
    color: #3b3b3b;
    font-family: "Lilita One", sans-serif;
    font-weight: lighter;
    font-size: 1rem;
    margin-bottom: 5px;
}

.footer .container .row ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer .container .row ul li {
    color: #3b3b3b;
    font-size: 0.75rem;
    font-family: "Poppins", sans-serif;
}

.footer .container .terms {
    max-width: 1000px;
    background: #fff;
    max-width: 800px;
    width: 100%;
    display: flex;
    padding: 10px 0;
    justify-content: center;
    border-radius: 10px;
}

.footer .container .terms a {
    color: #3b3b3b;
    font-weight: bolder !important;
}

.footer .container .terms h1 {
    color: #3b3b3b;
    font-size: 0.75rem;
    font-family: "Poppins", sans-serif;
}