html,
body {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #2BABE2;
    position: sticky;
    top: 0;
    z-index: 2;
}

.navbar-brand img {
    height: 45px;
    /* ajusta la altura según tus necesidades */
    width: auto;
    /* ajusta el ancho según tus necesidades */
}

.navbar-nav {
    margin-left: auto;
    margin-right: auto;
}

.navbar-nav .nav-link {
    color: #000;
    background-color: transparent;
    border: none;
    font-weight: bold;
}

.navbar-nav .social-icons {
    margin-right: 10px;
    position: relative;
    padding-left: 10px;
    /* Ajusta el espaciado a la izquierda de los iconos */
}

.navbar-nav .social-icons:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    height: 60%;
    /* Ajusta la altura de la línea vertical */
    width: 1px;
    background-color: #000;
    /* Color de la línea vertical */
    transform: translateY(-50%);
}

.carousel-item img {
    object-fit: cover;
    height: 90vh;
    width: 100%;
    filter: saturate(1.5);
    /* Ajusta el valor de saturación según tus preferencias */
    transition: transform 0.5s ease;

}

#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #050027;
    z-index: -1;
}

/* Agregar degradado arriba del carrusel */
.carousel:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom, rgba(43, 171, 226, 1), transparent);
    z-index: 1;
}

/* Agregar degradado abajo del carrusel */
.carousel:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, rgba(5, 0, 39, 1), transparent);
    z-index: 1;
}

#title-1 {
    margin-top: 2cm;
}

#subtitle {
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
}

#title {
    color: #2BABE2;
    font-weight: bold;
    font-size: 48px;
    text-shadow: 2px 2px 4px #2BABE2;
    margin-top: 2cm;
}

#title-2 {
    color: #2BABE2;
    font-weight: bold;
    font-size: 48px;
    text-shadow: 2px 2px 4px #2BABE2;
    margin-top: 2cm;
    margin-bottom: 2cm;
}

.col-md-4 {
    display: flex;
    justify-content: center;
    margin-top: 2vh;
}

.carousel-item {
    position: relative;
    overflow: hidden;
}

.carousel-item:hover img {
    transform: scale(1.1);
}

.carousel-item.fade {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.carousel-item.fade.active {
    opacity: 1;
}

/* CARTELERA */

#cartelera {
    display: flex;
    justify-content: center;
    margin-top: 20px
}

.article-wrapper {
    width: 100%;
    -webkit-transition: 0.15s all ease-in-out;
    transition: 0.15s all ease-in-out;
    border-radius: 10px;
    padding: 5px;
    border: 4px solid transparent;
    cursor: pointer;
}

.article-wrapper:hover {
    -webkit-box-shadow: 10px 10px 0 #4e84ff, 20px 20px 0 #4444bd;
    box-shadow: 10px 10px 0 #4e84ff, 20px 20px 0 #4444bd;
    border-color: #0578c5;
    -webkit-transform: translate(-20px, -20px);
    -ms-transform: translate(-20px, -20px);
    transform: translate(-20px, -20px);
}

.article-wrapper:active {
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}

.types {
    gap: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    place-content: flex-start;
}

.rounded-lg {
    /* class tailwind */
    border-radius: 10px;
    /* Para aplicar esquinas redondeadas al contenedor */
}

.article-wrapper:hover .project-hover {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background-color: #FFD200;
}

.project-info {
    padding-top: 20px;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 20px;
}

.project-title {
    font-size: 1.4em;
    margin: 0;
    font-weight: 600;
    /* depend de la font */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 5px;
    border-radius: 20px;
    color: #FFD200;
    text-shadow: 2px 2px 4px #FFD200;
}

.flex-pr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.project-type {
    background: #2BABE2;
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 0.3em 0.7em;
    border-radius: 15px;
    font-size: 15px;
    letter-spacing: -0.6px
}

.project-hover {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 9px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.container-project {
    overflow: hidden;
    /* Para ocultar cualquier parte de la imagen que se desborde del contenedor */
    width: 100%;
    /* Puedes ajustar el ancho del contenedor según tus necesidades */
    height: 400px;
    /* Igualas la altura al ancho para mantener el cuadrado */
}

.container-project img {
    width: 100%;
    /* La imagen se adaptará al ancho del contenedor */
    height: 100%;
    /* La altura se ajustará proporcionalmente al ancho */
    object-fit: cover;
    /* La imagen se ajustará para cubrir el contenedor */
}

.whatsapp-button:hover {
    box-shadow: 0 0 5px #25D366;
}

.special-container i {
    font-size: 2cm;
}

.title {
    color: #FFD200;
    text-shadow: 2px 2px 4px #FFD200;
    font-weight: bold;
    text-shadow: 1px 1px 20px #FFD200;
    text-align: center;
    margin-bottom: 1cm;
}

iframe {
    border: 0;
}

.address {
    color: white;
    font-weight: bold;
    text-align: center;
    margin-top: 1em;
}

.btn-contact {
    --width: 300px;
    --timing: 2s;
    border: 0;
    width: var(--width);
    padding-block: 1em;
    color: #fff;
    font-weight: bold;
    font-size: 1.5em;
    background: rgb(64, 192, 87);
    transition: all 0.2s;
    border-radius: 3px;
    margin-bottom: 1cm;
}

.btn-contact:hover {
    background-image: linear-gradient(to right, rgb(250, 82, 82), rgb(250, 82, 82) 16.65%, rgb(190, 75, 219) 16.65%, rgb(190, 75, 219) 33.3%, rgb(76, 110, 245) 33.3%, rgb(76, 110, 245) 49.95%, rgb(64, 192, 87) 49.95%, rgb(64, 192, 87) 66.6%, rgb(250, 176, 5) 66.6%, rgb(250, 176, 5) 83.25%, rgb(253, 126, 20) 83.25%, rgb(253, 126, 20) 100%, rgb(250, 82, 82) 100%);
    animation: var(--timing) linear dance6123 infinite;
    transform: scale(1.1) translateY(-1px);
}

@keyframes dance6123 {
    to {
        background-position: var(--width);
    }
}