html {
    scroll-behavior: smooth;
}

body {
    margin: 0 !important;
    padding: 0 !important;
    background-color: black !important;
}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: -1;
}

#banner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

#banner img {
    position: relative;
    width: 100%;
    height: 70vh;
    object-fit: cover;
    filter: brightness(70%);
    top: 0;
    left: 0;
}

#shadow-bottom {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

#logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 130px;
    z-index: 2;
}

#logo img {
    width: 100%;
    height: auto;
}

#tagline {
    position: absolute;
    top: calc(50% + 40px);
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 30px;
    text-align: center;
    margin-top: -20px;
    z-index: 2;
    font-family: 'Alegreya Sans SC', sans-serif;
}

/* Navbar Styles */
#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    background-color: transparent;
    transition: background-color 0.3s ease;
    z-index: 3;
    font-family: 'Alegreya Sans SC', sans-serif;
}

#navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

#navbar .logo img {
    max-height: 30px;
    margin-right: 10px;
}

#navbar .toggle-button {
    display: none;
}

#navbar .nav-links {
    box-sizing: border-box;
    display: flex;
}

#navbar .nav-links a {
    color: #fff;
    font-weight: bold;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-links {
    max-width: 200px;
    box-sizing: border-box;
}

#navbar .social-links a {
    display: inline-block;
    margin-right: 10px;
    color: #fff;
    font-size: 18px;
    margin: 0 5px;
    text-decoration: none;
    transition: color 0.3s ease;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    #navbar .logo img {
        max-height: 25px;
        margin-right: 5px;
    }

    #navbar .toggle-button {
        display: block;
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 0;
        position: absolute;
        top: 10px;
        right: 60px;
        z-index: 2;
    }

    #navbar .toggle-button .bar {
        display: block;
        width: 25px;
        height: 3px;
        background-color: #fff;
        margin-bottom: 5px;
        transition: background-color 0.3s ease;
    }

    #navbar .nav-links {
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.8);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        padding: 10px;
        transform: translateY(-100%);
        transition: transform 0.5s ease-in-out;
    }

    #navbar.active .nav-links {
        transform: translateY(0);
    }

    #navbar .nav-links a {
        color: #fff;
        margin: 5px 0;
    }

    #navbar .social-links {
        display: none;
    }
}

#navbar.scrolled {
    background-color: rgba(0, 0, 0, 0.8);
}

#navbar .nav-links.active {
    display: flex;
}

#navbar .nav-links a:hover,
#navbar .social-links a:hover {
    color: #ccc;
}

/* DETALLES DE COMRA */

#detalles {
    background-color: transparent;
}

.container-details {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    /* Añade esta propiedad para que las columnas se envuelvan en dispositivos móviles */
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin-bottom: 20px;
}

.proximo-evento {
    background-color: gray;
    color: white;
    width: 18%;
    padding: 10px;
    margin-bottom: 5px;
    margin-top: 30px;
    display: inline;
    line-height: 1;
    font-family: 'Oswald', sans-serif;
}

.fecha {
    color: #2BABE2;
    font-size: 70px;
    display: inline;
    line-height: 1.5;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
}

.nombre-evento {
    color: white;
    display: inline;
    line-height: 1;
    font-family: 'Oswald', sans-serif;
}

.comprar-tickets {
    color: white;
    padding: 20px 20px;
    border: none;
    width: 180px;
    cursor: pointer;
    font-size: 15px;
    font-family: 'Oswald', sans-serif;
    transition: 0.5s ease;
}

.text-ticket {
    color: white;
    display: inline;
    line-height: 1;
    margin-top: 30px;
    margin-bottom: 10px;
    font-family: 'Oswald', sans-serif;
}

.comprar-tickets:nth-child(1) {
    background-color: #EC2127;
}

.comprar-tickets:nth-child(1):hover {
    background-color: white;
    color: black;
}

.comprar-tickets:nth-child(2) {
    background-color: #2BABE2;
}

.comprar-tickets:nth-child(2):hover {
    background-color: white;
    color: black;
}

.comprar-tickets:nth-child(3) {
    background-color: gray;
    cursor: no-drop;
}

.comprar-tickets:nth-child(3):hover {
    background-color: white;
    color: black;
}

.event-description {
    margin-top: 20px;
    color: white;
    font-size: 15px;
    /* Agrega aquí cualquier otro estilo necesario para la descripción */
    width: 400px;
    line-height: 1.3;
    font-family: 'Oswald', sans-serif;
}

/* IMAGEN DETAILS */

.image-container {
    display: flex;
    justify-content: center;
    position: relative;
    width: fit-content;
    cursor: zoom-in;
    overflow: hidden;
    margin-bottom: 20px;
    /* Agrega un margen inferior para separar la imagen de la tabla */
}

.image-container img {
    transition: transform 0.3s ease;
    width: 70%;
}

.image-container img:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 700px) {
    .column {
        width: 100%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 400px) {
    .fecha {
        font-size: 40px;
    }
}

/* TABLA DE PRECIOS */

.precio-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
    color: white;
    margin: auto;
}

.precio-table th {
    font-weight: bold;
    background-color: gray;
    padding: 10px;
    border-bottom: 2px solid white;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

.precio-table td {
    padding: 10px;
    border-bottom: 1px solid gray;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

.color-square {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    vertical-align: middle;
}

.red {
    background-color: rgb(0, 183, 255);
}

.blue {
    background-color: rgb(253, 253, 253);
}

.green {
    background-color: rgb(251, 255, 0);
}

.yellow {
    background-color: rgb(255, 0, 200);
}

@media screen and (max-width: 700px) {
    .column {
        width: 100%;
        margin-bottom: 20px;
    }

    .precio-table {
        font-size: 14px;
    }
}

/* FOOTER */

footer {
    position: relative;
}

.footer-bg {
    position: relative;
    z-index: 0;
    background-image: url(../materials/images/slide2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 100px;
}

.footer-bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    z-index: -1;
    backdrop-filter: brightness(20%);
}


.footer-gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    z-index: -999;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.logo-container img {
    max-width: 150px;
    z-index: 999;
}

.social-media {
    margin-top: 10px;
    z-index: 999;
}

.social-media a {
    margin-right: 10px;
    color: white;
    font-size: 24px;
    text-decoration: none;
    z-index: 999;
}

.footer-bottom {
    text-align: center;
    color: white;
}

.footer-bottom p {
    margin: 0;
}

@media screen and (max-width: 768px) {
    .footer-content {
        flex-direction: row;
        justify-content: space-between;
    }

    .social-media {
        margin-top: 0;
    }

    .social-media a {
        margin-right: 0;
    }
}

/* video */

.video {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    /* Proporción de aspecto para videos 16:9 */
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}