@font-face {
    font-family: "BebasNeue-Regular";
    src: url(../materials/fonts/BebasNeue-Regular.ttf) format('truetype');
}

@font-face {
    font-family: "Bison-Bold";
    src: url(../materials/fonts/Bison-Bold.ttf) format('truetype');
}

@font-face {
    font-family: "Champagne-Bold-Italic";
    src: url(../materials/fonts/Champagne\ Bold\ Italic.ttf) format('truetype');
}

@font-face {
    font-family: "Champagne-Bold";
    src: url(../materials/fonts/Champagne\ Bold.ttf) format('truetype');
}

@font-face {
    font-family: "Champagne-Italic";
    src: url(materials/fonts/Champagne\ Italic.ttf) format('truetype');
}

@font-face {
    font-family: "Champagne";
    src: url(materials/fonts/Champagne.ttf) format('truetype');
}

html,
body {
    position: relative;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none !important;
    color: white;
}

.navbar {
    background-color: #000000;
    position: sticky;
    top: 0;
    z-index: 2;
    box-shadow: 0px 0px 50px 20px #000000;
}

.navbar-brand img {
    height: 45px;
    /* ajusta la altura según tus necesidades */
    width: auto;
    /* ajusta el ancho según tus necesidades */
}

.navbar-nav {
    margin-left: auto;
    margin-right: auto;
}

.navbar-nav .nav-link {
    color: #ffffff;
    background-color: transparent;
    border: none;
    font-weight: bold;
    font-family: Champagne-Bold;
}

.navbar-nav .social-icons {
    margin-right: 10px;
    position: relative;
    padding-left: 10px;
    /* Ajusta el espaciado a la izquierda de los iconos */
}

.navbar-nav .social-icons:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    height: 60%;
    /* Ajusta la altura de la línea vertical */
    width: 1px;
    background-color: #ffffff;
    /* Color de la línea vertical */
    transform: translateY(-50%);
}

.carousel-item img {
    object-fit: cover;
    height: 100vh;
    width: 100%;
    filter: saturate(1.5);
    /* Ajusta el valor de saturación según tus preferencias */
    transition: transform 0.5s ease;

}

#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black
        /*#040138*/
    ;
    z-index: -1;
}

/* Agregar degradado arriba del carrusel */
.carousel:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 1;
}

/* Agregar degradado abajo del carrusel */
.carousel:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, rgb(0, 0, 0, 1)
            /* rgb(4, 1, 56, 1)*/
            , transparent);
    z-index: 1;
}

.carousel-item {
    position: relative;
    overflow: hidden;
}

.carousel-item:hover img {
    transform: scale(1.1);
}

.carousel-item.fade {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.carousel-item.fade.active {
    opacity: 1;
}

#subtitle {
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    font-family: Champagne-Bold;
}

#title {
    color: #ffffff;
    font-weight: bold;
    font-size: 80px;
    text-shadow: 2px 2px 4px #ffffff;
    margin-top: 2cm;
    font-family: Bison-Bold;
}

/* ESPACIOS */



#espacios {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.column {
    flex: 1;
    margin-bottom: 20px;
    /* Agrega un espacio entre las columnas */
}

#espacios .image-container {
    display: flex;
    justify-content: center;
}

.image-3d {
    max-width: 100%;
    /* Ajusta el tamaño máximo de la imagen */
    height: auto;
    /* Ajusta la altura automáticamente */
    transform-style: preserve-3d;
    transition: transform 0.3s;
}

.image-3d:hover {
    transform: rotateY(30deg);
}

.pricing-table {
    margin-left: 10px;
    /* Ajusta el margen izquierdo */
    margin-right: 10px;
    /* Ajusta el margen derecho */
    width: 100%;
    border-collapse: collapse;
}

.pricing-table th,
.pricing-table td {
    padding: 10px;
    text-align: center;
}

.pricing-table th {
    background-color: transparent;
    color: #ffffff;
    font-size: 4vh;
}

.pricing-table td.cell-color {
    color: #000000;
    font-weight: bold;
    background-color: transparent;
    font-size: 4vh;
}

.pricing-table td.cell-price {
    color: #ffffff;
    font-weight: bold;
    font-size: 4vh;
}

/* Media Query para pantallas más pequeñas */
@media screen and (max-width: 768px) {
    #espacios {
        flex-direction: column;
    }

    .column {
        margin-bottom: 0;
    }

    .pricing-table {
        margin-left: 0;
        margin-right: 0;
    }
}

#BOTON-COMPRA {
    background-color: #F58220;
    color: white;
    transition: all 0.3s ease;
    width: 200px;
    outline: none;
    box-shadow: none;
    border: none;
}

#BOTON-COMPRA:hover {
    transform: scale(1.05);
    outline: none;
    box-shadow: none;
}

#opciones-compra{
    background-color: black !important;
}

.list-group {
    margin-top: 10px;
    font-weight: bold;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.list-group-item {
    border: none;
}

.list-group-item a {
    color: #F58220;
    text-decoration: none;
    transition: color 0.3s ease;
}

.list-group-item a:hover {
    color: #F58220;
    text-decoration: underline;
}

.footer {
    margin-top: 15em;
    background-color: black;
    color: white;
    padding: 70px 0;
    font-family: Arial, sans-serif;
}

.logo {
    width: 50%;
    height: 80%;
}

.description {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: Bison-Bold;
}

.sub-description {
    font-size: 20px;
    margin-bottom: 20px;
    font-family: BebasNeue-Regular;
}

.contact-info {
    list-style: none;
    padding: 0;
    margin: 0;
}

.contact-info li {
    margin-bottom: 10px;
}

.contact-info li i {
    margin-right: 10px;
}

.hr {
    border-top: 1px solid #666;
    margin-top: 30px;
    margin-bottom: 20px;
}

.rights {
    font-size: 14px;
    margin-bottom: 0;
}